// color theme for dark mode

@import url("syntax-theme-dark.css");

$dark_mode_background: #1d1d1d;

body {
  background-color: $dark_mode_background;
  color: white;
}

footer, nav {
  background-color: darken($dark_mode_background, 2%);
}

blockquote {
  border-left-color: lighten($dark_mode_background, 10%);
}

code:not(pre code), a:not(nav a):not(:has(img))  {
  background-color: lighten($dark_mode_background, 5%);
}

// separator between nav bar elements
nav *:not(:last-child) {
  border-right: solid 1px white;
}