@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);

body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: green;
  font-size: xx-large;
}

h2 {
  color: darken(green, 10%)
}

.description {
  font-size: smaller;
}

.centered-container {
  margin-left: 20vw;
  margin-right: 20vw;
}

.centered-blog-image-medium {
  object-fit: contain;
  max-width: 45vw;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-right: 7.5vw;
  margin-left: 7.5vw;
}