<!DOCTYPE html>
<html lang="en">

<head>
  <title>Freddy Cansick</title>

  <!-- <base href="https://www.freddycansick.co.uk/"> -->

  <meta name="description" content="Freddy Cansick | Computer science blog page on topics I think need a tutorial.">
  <meta charset="utf-8">
  <meta name="color-scheme" content="dark light">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#ffffff">

  <link rel="canonical" href="https://www.freddycansick.co.uk/">
  <link rel="stylesheet" href="/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4X786SGZQW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-4X786SGZQW');
</script>

<body>
  <nav>
    Freddy Cansick | 
    <a href="/">Home</a> |
    <a href="/blog">Blog</a> |
    <a href="/about">About</a>
  </nav>
  
  <div class="body-content">
    
    <div id="container">
      <div id="main">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>

  <footer>
    © 2023 Freddy Cansick
  </footer>
</body>

</html>