<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="dark light">
  <title>Freddy Cansick</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <nav>
    Freddy Cansick | 
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/blog">Blog</a>
  </nav>
  
  <div class="body-content">
    
    <div id="container">
      <div id="main">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>

  <footer>
    © 2023 Freddy Cansick
  </footer>
</body>

</html>